extends layout

block content
  h1= NuevaMatricula
  p Alta de nueva asignatura
  form(action='/asignatura/save' method='post')
    label(for='nombre') Nombre asignatura: 
    input#nombre(type='text' name='nombre' required)
    br
    label(for='numHoras') Total horas asignatura: 
    input#numHoras(type='text' name='numHoras' required)
    br
    label(for='docente') Docente: 
    select#docente(name='docente')
    
      each value in docentes  
        option(value=value.id) #{value.nombre} #{value.apellido}
    br
    label(for='alumnos') Alumnos:
    br
    select#docente(name='alumno')
      each value in alumnos  
        option(value=value.id) #{value.nombre} #{value.apellido}
    br
    input(type="submit")
