extends layout

block content
  h1= "Nuevo Alquiler"
  form(id="newRent" method="post" action="/rent/new")
    label Dias de alquiler
    input(type="text" name="rent")
    br
    label Selecciona vehiculo
    br
    select(name="car")
      each car in carsList
        option(value=car.id) #{car.brand} #{car.model}
    br
    label Selecciona Cliente
    br
    select(name="client")
      each client in clientList
        option(value=client.id) #{client.name} #{client.surname}
    br
    br
    input(type="submit")


